<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/jsp/join/login.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  
  <jsp-config>
	  <taglib>
	   <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
	   <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	  </taglib>
  </jsp-config>
  -->
  
  <servlet>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>lyons.user.action.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>lyons.user.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>lyons.user.action.ExitAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PutGoodsToCar</servlet-name>
    <servlet-class>lyons.goods.PutGoodsToCar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGoodsFromCar</servlet-name>
    <servlet-class>lyons.goods.DeleteGoodsFromCar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyGoods</servlet-name>
    <servlet-class>lyons.action.BuyGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsAction</servlet-name>
    <servlet-class>lyons.goods.action.GoodsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAction</servlet-name>
    <servlet-class>lyons.order.action.OrderAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>lyons.user.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitAction</servlet-name>
    <servlet-class>lyons.user.action.ExitAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TalkAction</servlet-name>
    <servlet-class>lyons.talk.action.TalkAction</servlet-class>
  </servlet>

<!-- 旧类临时配置 -->
  <servlet>
    <servlet-name>aaa</servlet-name>
    <servlet-class>lyons.goods.BuyGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/lyons.goods.BuyGoods</url-pattern>
  </servlet-mapping>




  

  <servlet-mapping>
    <servlet-name>PutGoodsToCar</servlet-name>
    <url-pattern>/lyons.goods/PutGoodsToCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsFromCar</servlet-name>
    <url-pattern>/lyons.goods/DeleteGoodsFromCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/Register.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/Login.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/Exit.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyGoods</servlet-name>
    <url-pattern>/BuyGoods.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsAction</servlet-name>
    <url-pattern>/Goods.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAction</servlet-name>
    <url-pattern>/Order.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TalkAction</servlet-name>
    <url-pattern>/Talk.action</url-pattern>
  </servlet-mapping>


<!-- goodsDao-> GoodsAction-->
</web-app>
