<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyons.common.mapper.goods.GoodsMapper">
  <resultMap id="BaseResultMap" type="Goods">
    <result column="G_ID" jdbcType="INTEGER" property="gId" />
    <result column="G_NAME" jdbcType="VARCHAR" property="gName" />
    <result column="G_DESCRIBE" jdbcType="VARCHAR" property="gDescribe" />
    <result column="G_PRICE" jdbcType="DOUBLE" property="gPrice" />
    <result column="G_MADE" jdbcType="VARCHAR" property="gMade" />
    <result column="G_AMOUNT" jdbcType="INTEGER" property="gAmount" />
    <result column="G_CREATE_DATE" jdbcType="TIMESTAMP" property="gCreateDate" />
    <result column="G_PIC" jdbcType="VARCHAR" property="gPic" />
  </resultMap>
  
  <sql id="Base_Column_List">
    G_ID, G_NAME, G_DESCRIBE, G_PRICE, G_MADE, G_AMOUNT, G_CREATE_DATE, G_PIC
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM goods
  </select>
  
  <select id="selectBygId" parameterType="INTEGER" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM goods
    where g_id = #{gId}
  </select>
  
  <select id="selectByCondition" parameterType="String" resultMap="BaseResultMap">
  	SELECT
    <include refid="Base_Column_List" />
    FROM goods
    WHERE g_name LIKE '%'|| #{keyword} ||'%'
  </select>
  
  
  <!-- <delete id="deleteByExample" parameterType="lyons.common.model.goods.GoodsExample">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    delete from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lyons.common.model.goods.Goods">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    insert into GOODS (G_ID, G_NAME, G_DESCRIBE, 
      G_PRICE, G_MADE, G_AMOUNT, 
      G_CREATE_DATE, G_PIC)
    values (#{gId,jdbcType=INTEGER}, #{gName,jdbcType=VARCHAR}, #{gDescribe,jdbcType=VARCHAR}, 
      #{gPrice,jdbcType=DOUBLE}, #{gMade,jdbcType=VARCHAR}, #{gAmount,jdbcType=INTEGER}, 
      #{gCreateDate,jdbcType=TIMESTAMP}, #{gPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lyons.common.model.goods.Goods">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    insert into GOODS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        G_ID,
      </if>
      <if test="gName != null">
        G_NAME,
      </if>
      <if test="gDescribe != null">
        G_DESCRIBE,
      </if>
      <if test="gPrice != null">
        G_PRICE,
      </if>
      <if test="gMade != null">
        G_MADE,
      </if>
      <if test="gAmount != null">
        G_AMOUNT,
      </if>
      <if test="gCreateDate != null">
        G_CREATE_DATE,
      </if>
      <if test="gPic != null">
        G_PIC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gDescribe != null">
        #{gDescribe,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gMade != null">
        #{gMade,jdbcType=VARCHAR},
      </if>
      <if test="gAmount != null">
        #{gAmount,jdbcType=INTEGER},
      </if>
      <if test="gCreateDate != null">
        #{gCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gPic != null">
        #{gPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lyons.common.model.goods.GoodsExample" resultType="java.lang.Long">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    select count(*) from GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    update GOODS
    <set>
      <if test="record.gId != null">
        G_ID = #{record.gId,jdbcType=INTEGER},
      </if>
      <if test="record.gName != null">
        G_NAME = #{record.gName,jdbcType=VARCHAR},
      </if>
      <if test="record.gDescribe != null">
        G_DESCRIBE = #{record.gDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.gPrice != null">
        G_PRICE = #{record.gPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.gMade != null">
        G_MADE = #{record.gMade,jdbcType=VARCHAR},
      </if>
      <if test="record.gAmount != null">
        G_AMOUNT = #{record.gAmount,jdbcType=INTEGER},
      </if>
      <if test="record.gCreateDate != null">
        G_CREATE_DATE = #{record.gCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gPic != null">
        G_PIC = #{record.gPic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 06 18:29:33 CST 2017.
   
    update GOODS
    set G_ID = #{record.gId,jdbcType=INTEGER},
      G_NAME = #{record.gName,jdbcType=VARCHAR},
      G_DESCRIBE = #{record.gDescribe,jdbcType=VARCHAR},
      G_PRICE = #{record.gPrice,jdbcType=DOUBLE},
      G_MADE = #{record.gMade,jdbcType=VARCHAR},
      G_AMOUNT = #{record.gAmount,jdbcType=INTEGER},
      G_CREATE_DATE = #{record.gCreateDate,jdbcType=TIMESTAMP},
      G_PIC = #{record.gPic,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update> -->
</mapper>